html, body {
  font-family: 'Georgia', serif;
  margin: 0;
  background-color: #f8f8f8;
}
.main-header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  background-color: #1a1a1a;
  color: #fff;
  box-shadow: 2px 2px 2px 0 #070727;
}
.links line {
  stroke: #999;
  stroke-opacity: 0;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.main-header img {
  display: inline-block;
  width: 150px;
  float: left;
  margin-left: 30px;
  margin-top: 13px;
}
.main-header a {
  display: inline-block;
  margin: 20px 20px 15px 20px;
  padding-top: 10px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .075em;
  color: #5e5e5e;
  transition: .15s;
  cursor: pointer;
}
/*.main-header a:hover {
  color: white;
  cursor: pointer;
}
*/.main-header .names {
  text-align: left;
  margin-left: 20%;
  width: 80%;
  font-family: 'Futura';
  font-weight: normal;
}

.record-header {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #fff;
  padding: 40px 0 60px;
  margin-bottom: 60px;
  margin-top: 40px;
  height: 250px;
}
.record-header .record-info {
  width: 50%;
  display: inline-block;
  float: left;
  margin-top: 30px;
  margin-left: 80px;
}
.record-header .record-info .artist {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: "Futura", sans-serif;
  font-weight: normal;
}
.record-header .record-info .title {
  margin-top: 20px;
  font-family: Tiempos Headline, Tiempos, Georgia, serif;
  font-size: 64px;
  line-height: 1.25;
  font-weight: 700;
  font-style: italic;
}
.record-header .record-score {
  width: 38%;
  float: right;
  margin-top: 25px;
  text-align: left;
}
.record-header .record-score .record {
  display: inline-block;
}
.record-header .record-score .record img {
  max-width: 200px;
  margin-right: 20px;
}
.record-header .record-score .record figcaption {
  text-align: center;
  font-family: 'Futura';
  width: 200px;
  font-size: 10px;
  color: #b3b3b3;
  letter-spacing: .075em;
  margin-top: 5px;
}
.record-header .record-score .score {
  max-width: 120px;
  margin-bottom: 35px;
}
.body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}
.body .point {
  width: 80%;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.875;
  margin-left: 110px;
}
.body .viz {
  width: 100%;
  text-align: center;
}

.hidden{
  display:none;
}

.review_submit{
  display: block;
  margin:0 auto 8px auto;
  width: 100%;
  background: #1c8bec;
  color: white;
  padding: 8px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.42) 0px 1px 2px;
}
.review_submit:active{
  background-color:#177ad0;
}
.review_submit:focus{
  outline:none;
}
.review_textarea{
  border-radius: 4px;
  border: 1px solid rgb(210, 210, 210);
  box-shadow: rgba(0, 0, 0, 0.42) 0px 1px 2px;
  width: 100%;
  height: 400px;
  display:block;
  margin:0 auto 8px auto;
  resize:none;
}

.grade_container{
  border-radius:8px;
  min-height:64px;
  width:100%;
  box-shadow: rgba(0, 0, 0, 0.42) 0px 1px 2px;
  color:white;
}

#grade_letter{
  font-size:48px;
  margin:0;
}
#grade_percent{
  margin-top:0px;
}

.could-write-container{
  width:75%;
  display:inline;
}

.could-write-textarea{
  vertical-align: top;
  width:60%;
  display:inline-block;
}

.could-write-resultcontainer{
  vertical-align: top;
  width:30%;
  height:380px;
  display: inline-block;
  margin:8px 0 8px 8px;
  background: #efefef;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
}

.grade_a{
  background-color:#2bce12;
}

.grade_b{
  background-color:#11ce98;
}

.grade_c{
  background-color:#c4db13;
}

.grade_d{
  background-color:#db9f13;
}

.grade_f{
  background-color:#db1613;
}

.overlay-container{
  fill: #e2e2e2;
	stroke: #b2b2b2;
	stroke-width: 0.5px;
}

.overlay-artist{
  text-anchor:middle;
}

.overlay-album{
  text-anchor:middle;
  font-size:18px;
}

.inline{
  display:inline;
}