html, body {
  font-family: 'Georgia', serif;
  margin: 0;
  background-color: #f8f8f8;
}
.main-header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  background-color: #1a1a1a;
  color: #fff;
  box-shadow: 2px 2px 2px 0 #070727;
}
.main-header img {
  display: inline-block;
  width: 200px;
  float: left;
  margin-left: 50px;
  margin-top: 10px;
}
.main-header p {
  display: inline-block;
  margin-bottom: 10px;
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.main-header .names {
  text-align: left;
  margin-left: 25%;
  width: 60%;
  font-family: 'Helvetica Neue';
}

.record-header {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #fff;
  padding: 40px 0 60px;
  margin-bottom: 60px;
  margin-top: 40px;
  height: 250px;
}
.record-header .record-info {
  width: 50%;
  display: inline-block;
  float: left;
  margin-top: 30px;
  margin-left: 80px;
}
.record-header .record-info .title {
  font-family: Tiempos Headline, Tiempos, Georgia, serif;
  font-size: 64px;
  line-height: 1.25;
  font-weight: 700;
  font-style: italic;
}
.record-header .record-score {
  width: 40%;
  float: right;
  margin-top: 25px;
}
.record-header .record-score .record {
  max-width: 200px;
  margin-right: 15px;
}
.record-header .record-score .score {
  max-width: 120px;
}
.body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}
.body .point {
  width: 60%;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.875;
  margin-left: 110px;
}
.body .viz {
  width: 100%;
  text-align: center;
}

.hidden{
  display:none;
}

.review_submit{
  display: block;
  margin:0 auto 8px auto;
  width: 100%;
  background: #1c8bec;
  color: white;
  padding: 8px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.42) 0px 1px 2px;
}
.review_submit:active{
  background-color:#177ad0;
}
.review_submit:focus{
  outline:none;
}
.review_textarea{
  border-radius: 4px;
  border: 1px solid rgb(210, 210, 210);
  box-shadow: rgba(0, 0, 0, 0.42) 0px 1px 2px;
  width: 100%;
  height: 400px;
  display:block;
  margin:0 auto 8px auto;
}

.grade_container{
  border-radius:8px;
  min-height:64px;
  width:100%;
  box-shadow: rgba(0, 0, 0, 0.42) 0px 1px 2px;
  color:white;
}

#grade_letter{
  font-size:48px;
  margin:0;
}
#grade_percent{
  margin-top:0px;
}

.could-write-container{
  width:75%;
  display:inline;
}

.could-write-textarea{
  vertical-align: top;
  width:60%;
  display:inline-block;
}

.could-write-resultcontainer{
  vertical-align: top;
  width:30%;
  height:380px;
  display: inline-block;
  margin:8px 0 8px 8px;
  background: #efefef;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
}

.grade_a{
  background-color:#2bce12;
}

.grade_b{
  background-color:#11ce98;
}

.grade_c{
  background-color:#c4db13;
}

.grade_d{
  background-color:#db9f13;
}

.grade_f{
  background-color:#db1613;
}
